
.hero {
    text-align: center;
    margin-top: 8rem;
    margin-left: 0px;
}


.hero Button:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-1px);
}
.hero h1 {
    font-size:2.75em;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
    line-height: 1em;
}



@media screen and (max-height: 850px) and (max-width:750px){
    .Link {
        margin-top: 2vh;
    }
    .hero {
        margin-bottom: 0rem;
    }
}

#HeroButtons {
    margin-top: 2rem;
}



@media screen and (max-width: 575px), (max-height: 650px) { 
    .hero {
        margin-bottom: 0rem;
        margin-top: -1rem;
        padding: 3rem;
    }
}